html(lang="en")
    head
        //icons
        link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
        link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
        link(rel='manifest', href='/manifest.json')
        meta(name='msapplication-TileColor', content='#ffffff')
        meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
        meta(name='theme-color', content='#ffffff')
        
        title Polls | QuantiPoll
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        
        //polls.js
        script(src="js/polls.js")
    body
        .jumbotron.text-center
            h1 Polls
            p View and vote on polls, or create your own.
        .container
            .row
                if user
                    //logged in
                    .row.text-center
                        .col-sm-4
                            h3
                                a(href='/user/dashboard') Dashboard
                            p View your history, change your handle, and more.
                        .col-sm-4
                            a.btn.btn-primary.btn-lg(href="/polls/create") Create a poll
                        .col-sm-4
                            h3
                                a(href="/logout") Logout
                            p Get outta here.
                else
                    //not logged in
                    .row.text-center
                        .col-sm-6
                            h3
                                a(href="/") Home
                        .col-sm-6
                            h3
                                a(href="/auth/google") Login
                            p Login using your Google account.

        .container
            .row.text-left
                
                
            .row.text-center
                h2 Recent Polls
            each poll in polls
                .well
                    .row.text-center
                        .col-sm-6
                            strong
                                a(href="/polls/id/"+poll.id)= poll.question
                                br
                        .col-sm-6
                            p Created by: 
                                a(href="/user/handle/"+poll.handle)= poll.handle
        //script(src="js/polls.js")
        include footer