html(lang="en")
    head
        title Bootstrap Example
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        
        //polls.js
        script(src="js/polls.js")
    body
        .jumbotron.text-center
            h1 Polls
            p View and vote on polls, or create your own.
        .container
            .row
                if user
                    //logged in
                    .row.text-center
                        .col-sm-4
                            h3
                                a(href='/user/dashboard') Dashboard
                            p View your history, change your handle, and more.
                        .col-sm-4
                            a.btn.btn-primary.btn-lg(href="/polls/create") Create a poll
                        .col-sm-4
                            h3
                                a(href="/logout") Logout
                            p Get outta here.
                else
                    //not logged in
                    .row.text-center
                        .col-sm-6
                            h3
                                a(href="/") Home
                        .col-sm-6
                            h3
                                a(href="/auth/google") Login
                            p Login using your Google account.

        .container
            .row.text-left
                
                
            .row.text-center
                h2 Recent Polls
            each poll in polls
                .well
                    .row.text-center
                        .col-sm-6
                            strong
                                a(href="/polls/id/"+poll.id)= poll.question
                                br
                        .col-sm-6
                            p Created by: 
                                a(href="/user/handle/"+poll.handle)= poll.handle
        //script(src="js/polls.js")