<script>
    
function savePoll(payload, callback) {
       
       $.ajax({
        type: "POST",
        url: 'https://quantipoll.herokuapp.com/polls/save',
        data: payload,
        success: function(data){
                     callback(data);
                 }
      });
       
    
    
    
    
}  
    
    var app = angular.module('createPollAnswers', []);
    app.controller('myAnswers', function($scope) {
        $scope.answers = [];
        $scope.counter = 1;
        $scope.myAnswer = "";
        $scope.myQuestion = "";
        $scope.addAnswer = function() {
            //
            if ($scope.myAnswer.length >= 1) {
              $scope.answers.push({id:$scope.counter,answer:$scope.myAnswer});
              $scope.answers.forEach(function (item, index){
                      item.id = index + 1;
                  });
              $scope.counter ++;
              $scope.myAnswer = "";
            } else {
              alert("Answer cannot be empty");
            }
        };
        $scope.removeItem = function(x) {
            $scope.answers.splice(x, 1);
            $scope.answers.forEach(function (item, index){
                    item.id = index + 1;
                });
        };
        $scope.createPoll = function() {
            if ($scope.myQuestion.length >= 1 && $scope.answers.length >= 2) {
              var myPoll = {};
              myPoll.userid = document.getElementsByName('username')[0].value;
              myPoll.id = document.getElementsByName('pollid')[0].value;
              myPoll.answers = {};
              
              $scope.answers.forEach(function(item, index) {
                      var i = (index+1).toString();
                      myPoll.answers[i] = item.answer;
                  });
              myPoll.question = $scope.myQuestion;
              
              myPoll.isanon = document.getElementsByName('isanon')[0].checked;
              
              savePoll(myPoll, function(result){
                console.log("https://www.quantipoll.com/polls/"+result.link);
                       window.location.replace("http://www.quantipoll.com/polls/"+result.link);
                });
            } else {
              //
              alert('The poll must have a question and at least two answer options... Try again.');
            }
        };
        
        
    });
</script>
<div ng-repeat="answer in answers">
    <div class="row">
        <div class="col-sm-12 text-center">
            <strong>{{ answer.id }} - {{ answer.answer }} 
               <button ng-click="removeItem($index)"> &times;</button>
               <br>
               <br>
             </strong>
        </div>
    </div>
</div> 