<script>
    
function savePoll(payload, callback) {
       
       $.ajax({
        type: "POST",
        url: 'http://localhost/polls/save',
        data: payload,
        success: function(data){
                     callback(data);
                 }
      });
       
    
    
    
    
}  
    
    var app = angular.module('createPollAnswers', []);
    app.controller('myAnswers', function($scope) {
        $scope.answers = [];
        $scope.counter = 1;
        $scope.addAnswer = function() {
            //
            $scope.answers.push({id:$scope.counter,answer:$scope.myAnswer});
            $scope.answers.forEach(function (item, index){
                    item.id = index + 1;
                });
            $scope.counter ++;
            $scope.myAnswer = "";
        };
        $scope.removeItem = function(x) {
            $scope.answers.splice(x, 1);
            $scope.answers.forEach(function (item, index){
                    item.id = index + 1;
                });
        };
        $scope.createPoll = function() {
            //send rest request to api to save poll data
            //alert(document.getElementsByName('username')[0].value);
            //alert(document.getElementsByName('pollid')[0].value);
            var myPoll = {};
            myPoll.userid = document.getElementsByName('username')[0].value;
            myPoll.id = document.getElementsByName('pollid')[0].value;
            myPoll.answers = {};
            $scope.answers.forEach(function(item, index) {
                    var i = (index+1).toString();
                    myPoll.answers[i] = item.answer;
                });
            myPoll.question = $scope.myQuestion;
            //console.log(myPoll);
            savePoll(myPoll, function(result){
              console.log("http://localhost/polls/"+result.link);
                     window.location.replace("http://localhost/polls/"+result.link);
              });
        };
        
        
    });
</script>
<div ng-repeat="answer in answers">
    <div class="row text-center">
        <div class="col-sm-2 text-right">
            <strong>{{ answer.id }}</strong>
        </div>
        <div class="col-sm-8 text-center">
            <strong>{{ answer.answer }}</strong>
        </div>
        <div class="col-sm-2 text-center">
            <button ng-click="removeItem($index)">&times;</button>
        </div>
        <hr>
    </div>
</div> 