html(lang="en")
    head
        title Bootstrap Example
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        
        //polls.js
        script(src="js/polls.js")
    body
        .jumbotron.text-center
            h1 Polls
            p View and vote on polls
        .container
            .row.text-center
                .col-sm-6
                    a.btn.btn-primary.btn-lg(href="/polls/create") Create a poll
                .col-sm-6.align-bottom
                    div(class="input-group")
                        input(type="text" class="form-control" placeholder="Search by keyword...")
                        span(class="input-group-btn")
                            button(class="btn btn-default" type="button") Go 
            .row.text-center
                h2 Recent Polls
            each poll in polls
                .well.well-sm
                    .row.text-center
                        .col-sm-8
                            a(href="/polls/"+poll.id)= poll.question
                        .col-sm-4
                            p Created by: 
                                a(href="/user/"+poll.userid)= poll.userid