html(lang="en")
    head
        title Bootstrap Example
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    body
        .jumbotron.text-center
            h1 Poll #
                span= poll.id
            p Created by: 
                a(href="")= poll.userid
        .container
            .row
                .col-sm-10.col-md-offset-1
                    h3 Question
                    .well.text-center
                        h4
                            strong= poll.question
                br
            .row
                .col-sm-10.col-md-offset-1
                    h3 Answer Options
                    each answer in poll.answers
                        .row.well
                            .col-sm-8.text-center
                                h4= answer
                            .col-sm-4.text-left
                                div(class="input-group")
                                    button(class="btn btn-info" type="button") Cast vote
            .row.text-center
                .col-sm-6
                    h3
                        a(href="/polls") View the Polls
                    p View and vote on recent polls
                .col-sm-6
                    h3
                        a(href="/me") Vote History
                    p View your vote history